html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  background-image: linear-gradient(-21deg, #6959b1, #dacde5);
}

body {
  margin: 0;
  font-size: 44px;
  font-weight: 300;
  
  font-family: 'Roboto Condensed', sans-serif;
  color: #606060;
}

/* CSS Transition group */

.Card {
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  margin: 20px 20px;
}

.Panel {
  background-color: white;
  padding: 40px; 
}

.LogoHeader {
  margin: 20px 20px;
}

.LogoHeader img {
  max-height: 90px;
}

.SponsorsPanel {
  height: 280px;
}

.sponsor-image {
  height: 200px;
  position: absolute;
}

.strong {
  font-weight: 700;
}

.transition-enter {
  opacity: 0;
  transition: opacity 800ms;
}

.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}

.transition-leave {
  opacity: 1;
  transition: opacity 800ms;
}

.transition-leave.transition-leave-active {
  opacity: 0;
  transition: opacity 800ms;
}

.EventsCard-day-name {
    margin-top: 10px;
}

.roomlabel {
	padding: 3px 20px 3px 20px;
    border-radius: 10px;
    color: white;
    white-space: nowrap;
}

.roomlabel.cafe {
    background-color: brown;
}

.roomlabel.terrace {
    background-color: green;
}

.roomlabel.bigroom {
    background-color: purple;
}

.roomlabel.glassdoor {
    background-color: #1955c3;
}

element.glassdoor {
    background-color: blue
}

.DeviceCard--icon {
  height: 80px;
  vertical-align: -22px;
  margin-right: 46px;
}
