.Card {
  margin: 0 20px 20px;
  padding: 30px 50px;
  background-color: (255, 255, 255, 0.4);
  border-radius: 17px;
  transition: all 0.5s;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.CardCycler {
  transition: all 0.5s;
}

.CardCycler--transitionOut {
  opacity: 0.5;
  transform: rotateX(-90deg) scale(0.95);
}

.CardCycler--transitionIn {
  opacity: 0.5;
  transform: rotateX(90deg) scale(0.95);
}

.Columns-column {
  float: left;
}

.Columns-column > .Card {
  margin: 0 20px 20px 0px;
}

.Columns-column:first-child > .Card {
  margin: 0 20px 20px 20px;
}

